<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Configure handlers for ASP.NET Core and CORS OPTIONS -->
    <handlers>
      <remove name="OPTIONSVerbHandler" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    
    <!-- Add CORS headers at IIS level - ALWAYS include them -->
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS,PATCH,HEAD" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,Accept,Authorization,X-Requested-With,Origin" />
        <add name="Access-Control-Max-Age" value="3600" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Ensure CORS headers are sent even on error responses -->
    <httpErrors existingResponse="PassThrough" />
    
    <aspNetCore processPath="dotnet" arguments=".\AICodeReviewer.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess" forwardWindowsAuthToken="false">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="7001" />
        <environmentVariable name="ASPNETCORE__URLS" value="http://*:8001" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>